PORT=3000
APP_REQUEST_TIMEOUT_SECONDS=10000
APP_RESPONSE_TIMEOUT_SECONDS=10000
MONGODB_URI=
CLOUDFLARE_WORKER_URL=
SUPBASE_URL=
SUPBASE_KEY=
CLOUDFLARE_WORKER_HEADER_KEY=

OAUTH_CLIENT_ID=your_client_id
OAUTH_CLIENT_SECRET=your_client_secret
OAUTH_CALLBACK_URL=http://localhost:3000/auth/callback

TEMIS_BASE_URL=https://www.temis.nl/uvradiation
GFZ_BASE_URL=https://www-app3.gfz-potsdam.de
NOAA_BASE_URL=https://services.swpc.noaa.gov
OPEN_METEO_URL=https://api.open-meteo.com
OPEN_METEO_ARCHIVE_URL=https://archive-api.open-meteo.com/v1/archive

APP_CORS_ORIGINS=http://localhost:5173,https://migrane-tracker-dashboard.sliplane.app

CF_ACCESS_CLIENT_ID=
CF_ACCESS_CLIENT_SECRET=
